<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768693070991-mnp06nkkmk6tc1770a81qspjsddtg4fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768693070991-mnp06nkkmk6tc1770a81qspjsddtg4fp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768693070991-0mibbl0vgs1470qjlrhe2d5ic8nh9o4t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-289nDyrNOe8sZUXOkJvwdgaTs78iSTg</string>
	<key>GCM_SENDER_ID</key>
	<string>768693070991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.taxidriver2</string>
	<key>PROJECT_ID</key>
	<string>saheli-43a79</string>
	<key>STORAGE_BUCKET</key>
	<string>saheli-43a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768693070991:ios:ed9c46a278616e81a314fa</string>
	<key>DATABASE_URL</key>
	<string>https://saheli-43a79-default-rtdb.firebaseio.com</string>
</dict>
</plist>